html, body {
    margin: 0;
    padding: 0;
    font-family: Georgia, Helvetica;
}

header {
    /*background-image: url("https://image.shutterstock.com/image-photo/various-asian-meals-on-rustic-260nw-1075946798.jpg");*/
    background-image: url("./images/indian-food.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    margin: 0;
    text-align: center;
    padding-top: 8%;
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-shadow: 5px 5px 3px #000000;
}

article {
    width: 30%;
}