* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Georgia, Helvetica;
    background-color: #7a9c07;
}

header {
    /*background-image: url("https://image.shutterstock.com/image-photo/various-asian-meals-on-rustic-260nw-1075946798.jpg");*/
    background-image: url("./images/indian-food.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

#header-title {
    margin: auto;
}

header h1 {
    text-align: center;
    padding-top: 8%;
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-shadow: 5px 5px 3px #000000;
}

article {
    width: 40%;
    margin: 20px auto;
    border-radius: 15px;
    padding-left: 40px;
    padding-bottom: 20px;
    background-color: white;
    opacity: 0.7;
}

article h2 {
    text-align: center;
}

article h2,h3 {
    padding: 1em;
}

article h3 {
    margin-right: 100px;
}

article li {
    margin: 0.8em;
}

article img {
    height: 100px;
    float: right;
    margin-right: 30px;
}

footer {
    background-color: #d05824;
}

h5 {
    padding: 10px;
    text-align: center;
    opacity: 0.4;
}