* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Georgia, Helvetica;
    background-color: lightgray;
}

header {
    /*background-image: url("https://image.shutterstock.com/image-photo/various-asian-meals-on-rustic-260nw-1075946798.jpg");*/
    background-image: url("./images/indian-food.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#header-title {
    margin: auto;
}

header h1 {
    text-align: center;
    padding-top: 8%;
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-shadow: 5px 5px 3px #000000;
}

article {
    width: 30%;
    margin: 20px auto;
    border-radius: 15px;
    padding-left: 40px;
    background-color: white;
    opacity: 0.7;
}